---
---

@import "{{ site.theme }}";

#container_homeworks{
    width: 800px;
}

.row{
    width: 100%;
    color:red;
    border: 2px solid greenyellow;
}
.col{
    width: 100%;
    color: burlywood;
    border: 1px solid violet;
}