---
---

@import "{{ site.theme }}";

.gridHomework1{
    display: grid;
    grid-template:
      'aa aa aa'
      'bb gg hh'
      'bb cc ee'
      'bb dd ff'/110px 180px 1fr;
    width: 100%;
}

.gridHomework1 > div{
    align-self: center;
    text-align: center;
    border: 3px solid yellowgreen;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    align-items: center;
}

.homework{
    grid-area: aa;
    color: greenyellow;
    font-size: 4vw;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
}

.r0c1HW1{
    grid-area: gg;
    color: white;
    text-align: center;
}
.r0c2HW1{
    grid-area: hh;
    color: white;
    text-align: center;
}

.r1c1HW1{
    grid-area: bb;
    color: white;
    text-align: center;
}
.r1c2HW1{
    grid-area: cc;
    color: white;
}
.r1c3HW1{
    grid-area: ee;
    color: white;
}

.r2c2HW1{
    grid-area: dd;
    color: white;
}
.r2c3HW1{
    grid-area: ff;
    color: white;
}
////////////////////////////////////////
.gridHomework2{
    display: grid;
    grid-template:
      'a b c e'
      'a b d f'
      'a g h i'
      'a g j k'
      'a l m n'
      'a l p q'/110px 180px 110px 1fr;
    width: 100%;
}

.gridHomework2 > div{
    align-self: center;
    text-align: center;
    border: 3px solid yellowgreen;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    align-items: center;
}

.r1HW2{
    grid-area: a;
    color: white;
}
.r2c1HW2{
    grid-area: b;
    color: white;
}
.r2c2HW2{
    grid-area: c;
    color: white;
}
.r2c3HW2{
    grid-area: d;
    color: white;
}
.r2c4HW2{
    grid-area: e;
    color: white;
}
.r2c5HW2{
    grid-area: f;
    color: white;
}
.r3c1HW2{
    grid-area: g;
    color: white;
}
.r3c2HW2{
    grid-area: h;
    color: white;
}
.r3c3HW2{
    grid-area: j;
    color: white;
}
.r3c4HW2{
    grid-area: i;
    color: white;
}
.r3c5HW2{
    grid-area: k;
    color: white;
}
.r4c1HW2{
    grid-area: l;
    color: white;
}
.r4c2HW2{
    grid-area: m;
    color: white;
}
.r4c3HW2{
    grid-area: p;
    color: white;
}
.r4c4HW2{
    grid-area: n;
    color: white;
}

.r4c5HW2{
    grid-area: q;
    color: white;
}
/////////////////////////////////////
.gridHomework3{
    display: grid;
    grid-template:
      'aaa bbb ccc eee'
      'aaa bbb ddd fff'
      'aaa ggg hhh hhh'/110px 180px 110px 1fr;
    width: 100%;
}

.gridHomework3 > div{
    align-self: center;
    text-align: center;
    border: 3px solid yellowgreen;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    align-items: center;
}

.r1HW3{
    grid-area: aaa;
    color: white;
}
.r2c1HW3{
    grid-area: bbb;
    color: white;
}
.r2c2HW3{
    grid-area: ccc;
    color: white;
}
.r2c3HW3{
    grid-area: ddd;
    color: white;
}
.r2c4HW3{
    grid-area: eee;
    color: white;
}
.r2c5HW3{
    grid-area: fff;
    color: white;
}
.r3c1HW3{
    grid-area: ggg;
    color: white;
}
.r3c2HW3{
    grid-area: hhh;
    color: white;
}
/////////////////////////////////

.gridHomework4{
    display: grid;
    grid-template:
      'aaaa bbbb cccc eeee'
      'aaaa bbbb dddd ffff'
      'aaaa gggg hhhh iiii'
      'aaaa gggg jjjj kkkk'
      'aaaa llll mmmm mmmm'/110px 180px 110px 1fr;
    width: 100%;
}

.gridHomework4 > div{
    align-self: center;
    text-align: center;
    border: 3px solid yellowgreen;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    align-items: center;
}

.r1HW4{
    grid-area: aaaa;
    color: white;
}
.r2c1HW4{
    grid-area: bbbb;
    color: white;
}
.r2c2HW4{
    grid-area: cccc;
    color: white;
}
.r2c3HW4{
    grid-area: dddd;
    color: white;
}
.r2c4HW4{
    grid-area: eeee;
    color: white;
}
.r2c5HW4{
    grid-area: ffff;
    color: white;
}

.r3c1HW4{
    grid-area: gggg;
    color: white;
}
.r3c2HW4{
    grid-area: hhhh;
    color: white;
}
.r3c3HW4{
    grid-area: jjjj;
    color: white;
}
.r3c4HW4{
    grid-area: iiii;
    color: white;
}
.r3c5HW4{
    grid-area: kkkk;
    color: white;
}
.r4c1HW4{
    grid-area: llll;
    color: white;
}
.r4c2HW4{
    grid-area: mmmm;
    color: white;
}
////////////////////////////////////////////////////

.gridHomework5{
    display: grid;
    grid-template:
      'ab bc cd'
      'ab gh hi'
      'ab lm mn'/110px 180px 1fr;
    width: 100%;
}

.gridHomework5 > div{
    align-self: center;
    text-align: center;
    border: 3px solid yellowgreen;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    align-items: center;
}

.r1HW5{
    grid-area: ab;
    color: white;
}
.r2c1HW5{
    grid-area: bc;
    color: white;
}
.r2c2HW5{
    grid-area: cd;
    color: white;
}
.r3c1HW5{
    grid-area: gh;
    color: white;
}
.r3c2HW5{
    grid-area: hi;
    color: white;
}
.r4c1HW5{
    grid-area: lm;
    color: white;
}
.r4c2HW5{
    grid-area: mn;
    color: white;
}

////////////////////////////////////////////

.gridHomework6{
    display: grid;
    grid-template:
    'abb bcc cdd'
    'abb ghh hii'
    'abb lmm mnn'/110px 180px 1fr;
    width: 100%;
}

.gridHomework6 > div{
    align-self: center;
    text-align: center;
    border: 3px solid yellowgreen;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    align-items: center;
}

.r1HW6{
    grid-area: abb;
    color: white;
}
.r2c1HW6{
    grid-area: bcc;
    color: white;
}
.r2c2HW6{
    grid-area: cdd;
    color: white;
}
.r3c1HW6{
    grid-area: ghh;
    color: white;
}
.r3c2HW6{
    grid-area: hii;
    color: white;
}
.r4c1HW6{
    grid-area: lmm;
    color: white;
}
.r4c2HW6{
    grid-area: mnn;
    color: white;
}


////////////////////////////////////////////

.gridHomework7{
    display: grid;
    grid-template:
    'abbb ghhh hiii'
    'abbb lmmm mnnn'/110px 180px 1fr;
    width: 100%;
}

.gridHomework7 > div{
    align-self: center;
    text-align: center;
    border: 3px solid yellowgreen;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    align-items: center;
}

.r1HW7{
    grid-area: abbb;
    color: white;
}
.r3c1HW7{
    grid-area: ghhh;
    color: white;
}
.r3c2HW7{
    grid-area: hiii;
    color: white;
}
.r4c1HW7{
    grid-area: lmmm;
    color: white;
}
.r4c2HW7{
    grid-area: mnnn;
    color: white;
}

////////////////////////////////////////////

.thesisgrid{
    display: grid;
    grid-template:
    'ac ce'/200px 1fr;
    width: 100%;
}

.thesisgrid > div{
    align-self: center;
    text-align: center;
    border: 3px solid yellowgreen;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    align-items: center;
}
.thr1c1{
    grid-area: ac;
    color: white;
}
.thr1c2{
    grid-area: ce;
    color: white;
}
